<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Teacher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/inputFormStyle.css">
</head>

<body>
<div th:include="navbar.html"></div>
<div id="divForm">
    <form th:method="POST" th:action="@{/teachers}" th:object="${teacher}">
        <p>
            <label for="firstName">Enter first name:</label>
            <input type="text" th:field="*{firstName}" id="firstName"/>
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
        </p>
        <br/>
        <p>
            <label for="lastName">Enter last name:</label>
            <input type="text" th:field="*{lastName}" id="lastName"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
        </p>
        <br/>
        <p>
            <label for="personnelNumber">Enter personnel number:</label>
            <input type="text" th:field="*{personnelNumber}" id="personnelNumber"/>
        <div style="color:red" th:if="${#fields.hasErrors('personnelNumber')}" th:errors="*{personnelNumber}">Personnel
            number error
        </div>
        </p>
        <br/>
        <ul style="list-style-type:none" th:each="course : ${courses}">
            <input type="checkbox" name="selectedCourses" th:text="${course.name}" th:value="${course.id}"/>
        </ul>
        <br/>
        <input type="submit" value="Create">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>