<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lecture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
<div th:include="navbar.html"></div>
<table id="showLecture" class="table table-striped table-bordered" style="width:100%">
    <thead class="table-dark">
    <tr>
        <th>Date</th>
        <th>Time of start</th>
        <th>Time of end</th>
        <th>Course</th>
        <th>Group</th>
        <th>Teacher</th>
        <th>Room Number</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p th:text="${lecture.getDate()}">VALUE</p>
        </td>
        <td>
            <p th:text="${lecture.getTimeOfStart()}">VALUE</p>
        </td>
        <td>
            <p th:text="${lecture.getTimeOfEnd()}">VALUE</p>
        </td>
        <td>
            <p th:text="${lecture.getCourse().getName()}">VALUE</p>
        </td>
        <td>
            <p th:text="${lecture.getGroup().getName()}">VALUE</p>
        </td>
        <td>
            <p th:text="${lecture.getTeacher().getFullName()}">VALUE</p>
        </td>
        <td>
            <p th:text="${lecture.getRoomNumber()}">VALUE</p>
        </td>
    </tr>
    </tbody>
</table>
<div class="container text-center">
    <a th:href="@{/lectures/{id}/edit(id=${lecture.getId()})}">
        <i class="fa fa-pen"></i>
    </a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>